.navigation-bar {
  padding: 1rem 0;
  box-shadow: inset 0 -1px 0 var(--color-gray-300);
  background-color: var(--color-branded);
}

.navigation-bar .flex-between {
  flex-wrap: wrap;
}

.navigation-bar .logo {
  font-weight: 600;
  font-size: 2.6rem;
  color: var(--color-dark);
  text-transform: uppercase;
}

.navigation-bar .auth-links a,
.navigation-bar .link-button {
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
}

.navigation-bar .auth-links a:not(:last-of-type) {
  margin-right: 2rem;
}

.navigation-bar .auth-links a:hover,
.navigation-bar .link-button:hover {
  font-weight: 600;
  text-decoration: underline;
}

.navigation-bar .link-button {
  background: none;
  color: inherit;
}
