:root {
  /* Colors */
  --color-white: #fff;

  --color-branded: #fef781;
  --color-branded-active: #eae041;

  --color-dark-green: #003d2b;

  --color-gray-100: #f7f7f7;
  --color-gray-200: #f0f1f5;
  --color-gray-300: #e6e6e6;
  --color-gray-700: #383838;

  --color-gray-800: #292929;
  --color-dark: #121212;

  --color-link: var(--color-dark);

  /* Spacing */
  --space-small: 0.8rem;
  --space-medium: 1.6rem;
  --space-big: 3.2rem;

  /* Border radious */
  --border-radius: 0.4rem;
}
